<div class="screen"></div>
<div class="dialog">
  <h1 class="title">Please Log In</h1>
  <% if (login.error) { %>
    <div class="error"><%= login.error %></div>
  <% } %>
  <form>
    <ul>
      <li>
        <button class='btn btn-github' data-provider='GitHub'>
          GitHub.com
        </button>
      </li>
      <li>
        <button class='btn btn-twitter' disabled>
          Twitter.com
        </button>
      </li>
      <li>
        <button class='btn btn-facebook' disabled>
          Facebook.com
        </button>
      </li>
      <li>
        <button class='btn btn-linkedin' disabled>
          LinkedIn.com
        </button>
      </li>
    </ul>
  </form>
</div>
