<div class="conversation-chat-header">
    <div class="chat-header green-gradient-box">
        <span class="inner-box raunded green">
            <span class="avatar" style="background-image: url(<%= photo ? photo : 'MASDFDF.png' %>)"></span>
        </span>
        <span><%= fn %></span>
    </div>
        <!--<li><button class="option option-call">Call</button></li>-->
    <a class="video orange-gradient-box option-video-call"><span>Video call</span></a>
</div>
<div class="conversation-chat-dialog"></div>
<div class="conversation-chat-input light-gradient-box">
    <div class="text-field">
        <textarea name="chat-text"></textarea>
    </div>
    <div class="send-btn">
        <div class="inner-box">
            <a class="send light-blue-gradient-box">send</a>
        </div>
    </div>
</div>
