<div class="contacts-cont light-gradient-box">
    <ul class="title">
        <li>
            <div class="search" rel="search">
                <div>
                    <dl>
                        <dt class="icon-search"></dt>
                        <dd>
                            <input type="text" placeholder="search" name="search" autocomplete="off">
                            <a class="clear" href="">x</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="conversation-cont">
</div>
<div class="invite-panel dark-gradient-box">
    <ul class="title">
        <li>
            <div class="search" rel="search">
                <div>
                    <dl>
                        <dt class="icon-search"></dt>
                        <dd>
                            <input type="text" placeholder="search" name="search" autocomplete="off">
                            <a class="clear" href="">x</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </li>
    </ul>
</div>




