<div class="contacts-cont light-gradient-box">
    <ul class="title">
        <li class="icon-contacts">
            <span>Contacts</span>
            <span class="inner-box">
                <a class="sync light-blue-gradient-box" href=""><span class="icon-sync"></span></a>
            </span>
        </li>
        <li>
            <div class="search" rel="search">
                <div>
                    <dl>
                        <dt class="icon-search"></dt>
                        <dd>
                            <input type="text" placeholder="search" name="search" autocomplete="off">
                            <a class="clear" href="">x</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="conversation-cont">
</div>



