<div class="screen"></div>
<div class="dialog">
  <% if (status.fetching) { %>
  <div class="status">Fetching your public information from GitHub...</div>
  <% } else if (status.connecting) { %>
  <div class="status">Connecting to the Signaling Server...</div>
  <% } else if (status.error) { %>
  <div class="Status error">Error! <%= status.error %></div>
  <% } else { %>
  <h1 class="title">Please Log In</h1>
  <form>
    <ul>
      <li>
        <button class='btn btn-github' data-provider='GitHub'>
          GitHub.com
        </button>
      </li>
      <li>
        <button class='btn btn-twitter' data-provider='Twitter'>
          Twitter.com
        </button>
      </li>
      <li>
        <button class='btn btn-facebook' disabled>
          Facebook.com
        </button>
      </li>
      <li>
        <button class='btn btn-linkedin' disabled>
          LinkedIn.com
        </button>
      </li>
    </ul>
  </form>
  <% } %>
</div>
