
HTML, BODY {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	font-family: Tahoma;
}

BODY > TABLE {
	width: 100%;
	height: 100%;
}

BODY > TABLE > TBODY > TR > TD {
	vertical-align: top;
	white-space: nowrap;
}

BODY > TABLE > TBODY > TR > TD > H1 {
	font-size: 16px;
}

BODY > TABLE > TBODY > TR > TD:nth-child(1) {
	width: 20%;
	background-color: #ececec;
	padding: 10px;
	padding-right: 20px;
}
BODY > TABLE > TBODY > TR > TD:nth-child(2) {
	width: 80%;
}

BODY > TABLE > TBODY > TR > TD:nth-child(2) > IFRAME {
	width: 100%;
	height: 100%;
	border: 0px;
}

#docs {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	border-bottom: 5px solid #ececec;
}

#mocha-stats {
	position: relative;
	float: right;
	top: 0px;
	right: 0px;
	padding-left: 20px !important;
}