
HTML, BODY {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	font-family: Tahoma;
}

BODY > TABLE {
	width: 100%;
	height: 100%;
}

BODY > TABLE > TBODY > TR > TD {
	vertical-align: top;
}

BODY > TABLE > TBODY > TR > TD > H1 {
	font-size: 16px;
}

BODY > TABLE > TBODY > TR > TD:nth-child(1) {
	width: 30%;
	background-color: #ececec;
	padding: 10px;
}
BODY > TABLE > TBODY > TR > TD:nth-child(2) {
	width: 70%;
}

BODY > TABLE > TBODY > TR > TD:nth-child(2) > IFRAME {
	width: 100%;
	height: 100%;
	border: 0px;
}