<!DOCTYPE html>
<html lang="en">
    <head>
	    <script src="/static/jquery.js"></script>
	    <script src="/static/chai.js"></script>
	    <script src="/static/mocha.js"></script>
	    <script src="/lib/q/q.js"></script>
		<script src="/static/require.js"></script>
	    <script src="/ui/app.js"></script>
		<link rel="stylesheet" href="/static/mocha.css">
		<link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
    	{{{body}}}
    </body>
</html>