<div id="docs">{{{docs}}}</div>

<div id="mocha"></div>

<script>

window.__TestHarnessReady.then(function() {

	mocha.setup('tdd');
	window.expect = chai.expect;
	window.assert = chai.assert;

	requirejs([
		{{#each tests}}
			"{{id}}"{{#if more}},{{/if}}
		{{/each}}
	], function() {

		mocha.run();

	});
});

</script>
