.light-gradient{
  background: -moz-linear-gradient(top,  rgba(234,231,224,1) 0%, rgba(229,221,208,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,231,224,1)), color-stop(100%,rgba(229,221,208,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(234,231,224,1) 0%,rgba(229,221,208,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(234,231,224,1) 0%,rgba(229,221,208,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(234,231,224,1) 0%,rgba(229,221,208,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(234,231,224,1) 0%,rgba(229,221,208,1) 100%); /* W3C */
}

.light-gradient-box{
  color: #685a3d;
  text-shadow: 1px 1px 0px #fff;
  position: relative;
  background: rgb(234,231,224); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(234,231,224,1) 0%, rgba(229,221,208,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,231,224,1)), color-stop(100%,rgba(229,221,208,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(234,231,224,1) 0%,rgba(229,221,208,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(234,231,224,1) 0%,rgba(229,221,208,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(234,231,224,1) 0%,rgba(229,221,208,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(234,231,224,1) 0%,rgba(229,221,208,1) 100%); /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eae7e0', endColorstr='#e5ddd0',GradientType=0 ); *//* IE6-9 */
  border-radius: 4px;
  box-shadow: inset 0px 0px 5px rgba(255,255,255, .4),
              inset 0px 2px 2px rgba(255,255,255, .7),
              inset 0px -10px 10px rgba(135,121,96, .1),
              0px 0px 2px rgba(135,121,96,1),
              0px 3px 1px rgba(135,121,96,.4),
              0px 3px 3px rgba(135,121,96,.1),
              0px 7px 7px rgba(135,121,96,.3);
}

.light-gradient-shadow{
  box-shadow: inset 0px 0px 5px rgba(255,255,255, .4),
  inset 0px 2px 2px rgba(255,255,255, .3),
  inset 0px -10px 10px rgba(135,121,96, .1),
  0px 3px 0px rgba(135,121,96,1);
}

.inner-box{
  padding: 3px 3px 5px 3px;
  background: -moz-linear-gradient(top,  rgba(183,169,140,.5) 0%, rgba(183,169,140,.3) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,169,140,.5)), color-stop(100%,rgba(183,169,140,.1)));
  background: -webkit-linear-gradient(top,  rgba(183,169,140,.5) 0%,rgba(183,169,140,.1) 100%);
  background: -o-linear-gradient(top,  rgba(183,169,140,.5) 0%,rgba(183,169,140,.1) 100%);
  background: -ms-linear-gradient(top,  rgba(183,169,140,.5) 0%,rgba(183,169,140,.1) 100%);
  background: linear-gradient(to bottom,  rgba(183,169,140,.5) 0%,rgba(183,169,140,.1) 100%);
  border-radius: 6px;
  border-top: 1px solid rgba(255,255,255,.4);
}
.inner-box.green{
  border: none;
  padding: 2px;
  /*background: -moz-linear-gradient(top,  rgba(68,134,0,.5) 0%, rgba(68,134,0,0) 100%);*/
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,134,0,.5)), color-stop(100%,rgba(68,134,0,0)));*/
  background: -webkit-linear-gradient(top,  rgba(68,134,0,.5) 0%,rgba(255,255,255,.3) 100%);
  /*background: -o-linear-gradient(top,  rgba(68,134,0,.5) 0%,rgba(68,134,0,0) 100%);*/
  /*background: -ms-linear-gradient(top,  rgba(68,134,0,.5) 0%,rgba(68,134,0,0) 100%);*/
  /*background: linear-gradient(to bottom,  rgba(68,134,0,.5) 0%,rgba(68,134,0,0) 100%);*/
}
.inner-box.green .avatar{
  box-shadow:
    /*inset 0px 0px 5px rgba(255,255,255, .4),*/
    /*inset 0px 2px 2px rgba(242,249,233, .7),*/
    inset 0px 2px 10px rgba(0,0,0, .7),
    0px 0px 2px rgba(68,134,0,1);

    /*0px 2px 0px 0px rgba(68,134,0,.4),*/
    /*0px 3px 1px rgba(68,134,0,.4),*/
    /*0px 3px 3px rgba(135,121,96,.1),*/
    /*0px 7px 7px rgba(135,121,96,.3);*/
}
.inner-box.light{
  border: none;
  padding: 2px;
  /*background: -moz-linear-gradient(top,  rgba(68,134,0,.5) 0%, rgba(68,134,0,0) 100%);*/
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,134,0,.5)), color-stop(100%,rgba(68,134,0,0)));*/
  /*background: -webkit-linear-gradient(top,  rgba(68,134,0,.5) 0%,rgba(255,255,255,.3) 100%);*/
  /*background: -o-linear-gradient(top,  rgba(68,134,0,.5) 0%,rgba(68,134,0,0) 100%);*/
  /*background: -ms-linear-gradient(top,  rgba(68,134,0,.5) 0%,rgba(68,134,0,0) 100%);*/
  /*background: linear-gradient(to bottom,  rgba(68,134,0,.5) 0%,rgba(68,134,0,0) 100%);*/
}
.inner-box.raunded{
  border-radius: 150px;
}
.green-gradient-box{
  color: #fff;
  text-shadow: 1px 1px 1px rgba(68,134,0,.7);
  background: rgb(242,249,233);
  background: -moz-linear-gradient(top,  rgba(211,234,180,1) 0%, rgba(162,199,129,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,234,180,1)), color-stop(100%,rgba(162,199,129,1)));
  background: -webkit-linear-gradient(top, rgba(211,234,180,1) 0%,rgba(162,199,129,1) 100%);
  background: -o-linear-gradient(top,  rgba(211,234,180,1) 0%,rgba(162,199,129,1) 100%);
  background: -ms-linear-gradient(top,  rgba(211,234,180,1) 0%,rgba(162,199,129,1) 100%);
  background: linear-gradient(to bottom,  rgba(211,234,180,1) 0%,rgba(162,199,129,1) 100%);
  box-shadow:
  inset 0px 0px 5px rgba(255,255,255, .4),
  inset 0px 2px 2px rgba(242,249,233, .7),
  inset 0px -2px 4px rgba(162,199,129, 1),
  0px 0px 2px rgba(68,134,0,1),
  0px 2px 0px 0px rgba(68,134,0,.4),
  0px 3px 1px rgba(68,134,0,.4),
  0px 3px 3px rgba(135,121,96,.1),
  0px 7px 7px rgba(135,121,96,.3);
  border-radius: 4px;
}
.green-gradient{
  background: rgb(242,249,233);
  background: -moz-linear-gradient(top,  rgba(211,234,180,1) 0%, rgba(162,199,129,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,234,180,1)), color-stop(100%,rgba(162,199,129,1)));
  background: -webkit-linear-gradient(top, rgba(211,234,180,1) 0%,rgba(162,199,129,1) 100%);
  background: -o-linear-gradient(top,  rgba(211,234,180,1) 0%,rgba(162,199,129,1) 100%);
  background: -ms-linear-gradient(top,  rgba(211,234,180,1) 0%,rgba(162,199,129,1) 100%);
  background: linear-gradient(to bottom,  rgba(211,234,180,1) 0%,rgba(162,199,129,1) 100%);
}

.green-gradient-shadow{
  box-shadow:
    inset 0px 0px 5px rgba(255,255,255, .1),
    inset 0px 2px 2px rgba(242,249,233, .1),
    0px 2px 0px 0px rgba(68,134,0,.4),
    0px 3px 0px rgba(68,134,0, 1)
}

.green-gradient-outbox{
  color: #fff;
  text-shadow: 1px 1px 1px rgba(68,134,0,.7);
  background: rgb(242,249,233);
  background: -moz-linear-gradient(top,  rgba(211,234,180,1) 0%, rgba(162,199,129,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,234,180,1)), color-stop(100%,rgba(162,199,129,1)));
  background: -webkit-linear-gradient(top, rgba(211,234,180,1) 0%,rgba(162,199,129,1) 100%);
  background: -o-linear-gradient(top,  rgba(211,234,180,1) 0%,rgba(162,199,129,1) 100%);
  background: -ms-linear-gradient(top,  rgba(211,234,180,1) 0%,rgba(162,199,129,1) 100%);
  background: linear-gradient(to bottom,  rgba(211,234,180,1) 0%,rgba(162,199,129,1) 100%);
  box-shadow:
    inset 0px 0px 5px rgba(255,255,255, .4),
    inset 0px 2px 2px rgba(242,249,233, .7),
    inset 0px -2px 4px rgba(162,199,129, 1),
    0px 2px 0px 0px rgba(68,134,0,.4),
    0px 3px 1px rgba(68,134,0,.4),
    0px 3px 3px rgba(135,121,96,.1),
    0px 7px 7px rgba(135,121,96,.3);
  border-radius: 4px;
}




.orange-gradient{
  background: -moz-linear-gradient(top, rgba(241,227,188,1) 0%, rgba(211,175,99,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,227,188,1)), color-stop(100%,rgba(211,175,99,1)));
  background: -webkit-linear-gradient(top, rgba(241,227,188,1) 0%,rgba(211,175,99,1) 100%);
  background: -o-linear-gradient(top,  rgba(241,227,188,1) 0%,rgba(211,175,99,1) 100%);
  background: -ms-linear-gradient(top,  rgba(241,227,188,1) 0%,rgba(211,175,99,1) 100%);
  background: linear-gradient(to bottom,  rgba(241,227,188,1) 0%,rgba(211,175,99,1) 100%);
}
.orange-gradient-box{
  color: #fff;
  text-shadow: 1px 1px 1px rgba(177,114,0,.7);
  background: rgb(242,249,233);
  background: -moz-linear-gradient(top, rgba(241,227,188,1) 0%, rgba(211,175,99,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,227,188,1)), color-stop(100%,rgba(211,175,99,1)));
  background: -webkit-linear-gradient(top, rgba(241,227,188,1) 0%,rgba(211,175,99,1) 100%);
  background: -o-linear-gradient(top,  rgba(241,227,188,1) 0%,rgba(211,175,99,1) 100%);
  background: -ms-linear-gradient(top,  rgba(241,227,188,1) 0%,rgba(211,175,99,1) 100%);
  background: linear-gradient(to bottom,  rgba(241,227,188,1) 0%,rgba(211,175,99,1) 100%);
  box-shadow:
    inset 0px 0px 3px rgba(255,255,255, .2),
    inset 0px 2px 2px rgba(242,249,233, .7),
    inset 0px -2px 7px rgba(177,114,0, .2),
    0px 0px 2px rgba(177,114,0,1),
    0px 2px 0px 0px rgba(177,114,0,.4),
    0px 3px 1px rgba(177,114,0,.4),
    0px 3px 3px rgba(135,121,96,.1),
    0px 7px 7px rgba(135,121,96,.3);
  border-radius: 4px;
} .orange-gradient-box:active{
    text-shadow: 0px 1px 1px rgba(177,114,0,.7);
    box-shadow: inset 0px 0px 3px rgba(255,255,255, .1),
    inset 0px 2px 2px rgba(242,249,233, .1),
    inset 0px -2px 7px rgba(177,114,0, .2),
    0px 0px 2px rgba(177,114,0, 1),
    0px 2px 0px 0px rgba(177,114,0,.4)
  }

.orange-gradient-shadow{
    box-shadow:
    inset 0px 0px 3px rgba(255,255,255, .2),
    inset 0px 2px 2px rgba(242,249,233, .3),
    inset 0px -2px 7px rgba(177,114,0, .2),
    0px 3px 0px rgba(177,114,0,1);
}

.light-blue-gradient-box{
  color: #fff;
  text-shadow: 1px 1px 1px rgba(5,125,125,.7);
  background: -moz-linear-gradient(top, rgba(4,225,225,1) 0%, rgba(4,177,177,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,225,225,1)), color-stop(100%,rgba(4,177,177,1)));
  background: -webkit-linear-gradient(top, rgba(4,225,225,1) 0%,rgba(4,177,177,1) 100%);
  background: -o-linear-gradient(top,  rgba(4,225,225,1) 0%,rgba(4,177,177,1) 100%);
  background: -ms-linear-gradient(top,  rgba(4,225,225,1) 0%,rgba(4,177,177,1) 100%);
  background: linear-gradient(to bottom,  rgba(4,225,225,1) 0%,rgba(4,177,177,1) 100%);
  box-shadow:
    inset 0px 0px 3px rgba(255,255,255, .2),
    inset 0px 2px 2px rgba(242,249,233, .7),
    inset 0px -2px 7px rgba(5,125,125, .2),
    0px 0px 2px rgba(5,125,125,1),
    0px 2px 0px 0px rgba(5,125,125,.4),
    0px 3px 1px rgba(5,125,125,.4),
    0px 3px 3px rgba(135,121,96,.1),
    0px 7px 7px rgba(135,121,96,.3);
  border-radius: 4px;
} .light-blue-gradient-box:active{
    text-shadow: 0px 1px 1px rgba(5,125,125,.7);
    box-shadow: inset 0px 0px 3px rgba(255,255,255, .1),
    inset 0px 2px 2px rgba(242,249,233, .1),
    inset 0px -2px 7px rgba(5,125,125, .2),
    0px 0px 2px rgba(5,125,125, 1),
    0px 2px 0px 0px rgba(5,125,125,.4)
  }

.blue-gradient-box{
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,125,171,.7);
  background: -moz-linear-gradient(top, rgba(0,186,255,1) 0%, rgba(0,172,237,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,186,255,1)), color-stop(100%,rgba(0,172,237,1)));
  background: -webkit-linear-gradient(top, rgba(0,186,255,1) 0%,rgba(0,172,237,1) 100%);
  background: -o-linear-gradient(top,  rgba(0,186,255,1) 0%,rgba(0,172,237,1) 100%);
  background: -ms-linear-gradient(top,  rgba(0,186,255,1) 0%,rgba(0,172,237,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,186,255,1) 0%,rgba(0,172,237,1) 100%);
  box-shadow:
    inset 0px 0px 3px rgba(255,255,255, .2),
    inset 0px 2px 2px rgba(242,249,233, .7),
    inset 0px -2px 7px rgba(0,125,171, .2),
    0px 0px 2px rgba(0,125,171,1),
    0px 2px 0px 0px rgba(0,125,171,.4),
    0px 3px 1px rgba(0,125,171,.4),
    0px 3px 3px rgba(135,121,96,.1),
    0px 7px 7px rgba(135,121,96,.3);
  border-radius: 4px;
} .blue-gradient-box:active{
    text-shadow: 0px 1px 1px rgba(0,125,171,.7);
    box-shadow: inset 0px 0px 3px rgba(255,255,255, .1),
    inset 0px 2px 2px rgba(242,249,233, .1),
    inset 0px -2px 7px rgba(0,125,171, .2),
    0px 0px 2px rgba(0,125,171, 1),
    0px 2px 0px 0px rgba(0,125,171,.4)
  }

.blue-gradient{
  background: -moz-linear-gradient(top, rgba(0,186,255,1) 0%, rgba(0,172,237,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,186,255,1)), color-stop(100%,rgba(0,172,237,1)));
  background: -webkit-linear-gradient(top, rgba(0,186,255,1) 0%,rgba(0,172,237,1) 100%);
  background: -o-linear-gradient(top,  rgba(0,186,255,1) 0%,rgba(0,172,237,1) 100%);
  background: -ms-linear-gradient(top,  rgba(0,186,255,1) 0%,rgba(0,172,237,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,186,255,1) 0%,rgba(0,172,237,1) 100%);
}
.blue-gradient-shadow{
  box-shadow:
    inset 0px 0px 3px rgba(255,255,255, .2),
    inset 0px 2px 2px rgba(242,249,233, .3),
    inset 0px -2px 7px rgba(0,125,171, .2),
    0px 2px 0px 0px rgba(0,125,171,.4),
    0px 3px 0px rgba(0,125,171,1)
}

.dark-blue-gradient-box{
  color: #fff;
  text-shadow: 1px 1px 1px rgba(52,81,141,.7);
  background: -moz-linear-gradient(top, rgba(120,159,240,1) 0%, rgba(78,120,206,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(120,159,240,1)), color-stop(100%,rgba(78,120,206,1)));
  background: -webkit-linear-gradient(top, rgba(120,159,240,1) 0%,rgba(78,120,206,1) 100%);
  background: -o-linear-gradient(top,  rgba(120,159,240,1) 0%,rgba(78,120,206,1) 100%);
  background: -ms-linear-gradient(top,  rgba(120,159,240,1) 0%,rgba(78,120,206,1) 100%);
  background: linear-gradient(to bottom,  rgba(120,159,240,1) 0%,rgba(78,120,206,1) 100%);
  box-shadow:
    inset 0px 0px 3px rgba(255,255,255, .2),
    inset 0px 2px 2px rgba(242,249,233, .4),
    inset 0px -2px 7px rgba(52,81,141, .2),
    0px 0px 2px rgba(52,81,141,1),
    0px 2px 0px 0px rgba(52,81,141,.4),
    0px 3px 1px rgba(52,81,141,.4),
    0px 3px 3px rgba(135,121,96,.1),
    0px 7px 7px rgba(135,121,96,.3);
  border-radius: 4px;
} .dark-blue-gradient-box:active{
    text-shadow: 0px 1px 1px rgba(52,81,141,.7);
    box-shadow: inset 0px 0px 3px rgba(255,255,255, .1),
    inset 0px 2px 2px rgba(242,249,233, .1),
    inset 0px -2px 7px rgba(52,81,141, .2),
    0px 0px 2px rgba(52,81,141, 1),
    0px 2px 0px 0px rgba(52,81,141,.4)
  }

.dark-gradient-box{
  color: #e4ded2;
  text-shadow: 1px 1px 0px #000;
  position: relative;
  background: rgb(234,231,224); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(70,70,70,1) 0%, rgba(56,56,56,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(70,70,70,1)), color-stop(100%,rgba(56,56,56,1)));
  background: -webkit-linear-gradient(top,  rgba(70,70,70,1) 0%,rgba(56,56,56,1) 100%);
  background: -o-linear-gradient(top,  rgba(70,70,70,1) 0%,rgba(56,56,56,1) 100%);
  background: -ms-linear-gradient(top,  rgba(70,70,70,1) 0%,rgba(56,56,56,1) 100%);
  background: linear-gradient(to bottom,  rgba(70,70,70,1) 0%,rgba(56,56,56,1) 100%);
  /*border-radius: 4px;*/
  box-shadow:
  inset 0px 0px 2px rgba(255,255,255, .1),
  /*inset 0px 2px 2px rgba(255,255,255, .1),*/
  inset 0px -10px 10px rgba(0,0,0, .1),
  0px 5px 1px rgba(34,34,34,.9),
  0px 3px 3px rgba(34,34,34,.7),
  0px 9px 7px rgba(34,34,34,.5);
}

.out-shadow{
  box-shadow:
    0px 0px 2px rgba(135,121,96,1),
    0px 3px 3px rgba(135,121,96,.1),
    0px 7px 7px rgba(135,121,96,.3);
}


.dark-side{
  border-right: 1px solid rgba(0,0,0,.2);
}
.light-side{
  border-left: 1px solid rgba(255,255,255,.2);
}

.contacts .contacts-list li.active{

  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,125,171,.7);
  background-color: rgba(0,172,237,1);
  box-shadow: inset 0px 5px 20px rgba(0,0,0,.2);

  border-bottom: 1px solid rgb(0,0,0, 0.5);
  border-top: 1px solid rgba(0,0,0, 0.5);
}

.message{
  color: #685a3d;
  text-shadow: 1px 1px 0px #fff;
  position: relative;
  background: -moz-linear-gradient(top,  rgba(234,231,224,1) 0%, rgba(229,221,208,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,231,224,1)), color-stop(100%,rgba(229,221,208,1)));
  background: -webkit-linear-gradient(top,  rgba(234,231,224,1) 0%,rgba(229,221,208,1) 100%);
  background: -o-linear-gradient(top,  rgba(234,231,224,1) 0%,rgba(229,221,208,1) 100%);
  background: -ms-linear-gradient(top,  rgba(234,231,224,1) 0%,rgba(229,221,208,1) 100%);
  background: linear-gradient(to bottom,  rgba(234,231,224,1) 0%,rgba(229,221,208,1) 100%);
  border-radius: 4px;
  box-shadow:
  inset 0px 0px 5px rgba(255,255,255, .4),
  0px 0px 2px rgba(135,121,96,1),
  0px 2px 1px rgba(135,121,96,1);

}
.own .message{
  color: #685a3d;
  text-shadow: 1px 1px 0px #fff;
  position: relative;
  background: -moz-linear-gradient(top,  rgba(234,241,255,1) 0%, rgba(215,228,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,241,255,1)), color-stop(100%,rgba(215,228,255,1)));
  background: -webkit-linear-gradient(top,  rgba(234,241,255,1) 0%,rgba(215,228,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(234,241,255,1) 0%,rgba(215,228,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(234,241,255,1) 0%,rgba(215,228,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(234,241,255,1) 0%,rgba(215,228,255,1) 100%);
  border-radius: 4px;
  box-shadow:
    inset 0px 0px 5px rgba(255,255,255, .4),
    0px 0px 2px rgba(135,121,96,1),
    0px 2px 1px rgba(135,121,96,1);

}
.chatMessageLine .property .time{
  background: -moz-linear-gradient(top, rgba(0,186,255,1) 0%, rgba(0,172,237,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,186,255,1)), color-stop(100%,rgba(0,172,237,1)));
  background: -webkit-linear-gradient(top, rgba(0,186,255,1) 0%,rgba(0,172,237,1) 100%);
  background: -o-linear-gradient(top,  rgba(0,186,255,1) 0%,rgba(0,172,237,1) 100%);
  background: -ms-linear-gradient(top,  rgba(0,186,255,1) 0%,rgba(0,172,237,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,186,255,1) 0%,rgba(0,172,237,1) 100%);
  border-radius: 2px;
  padding: 2px 5px;
}
.chatMessageLine .property .username{
  background: -moz-linear-gradient(top, rgba(241,227,188,1) 0%, rgba(211,175,99,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,227,188,1)), color-stop(100%,rgba(211,175,99,1)));
  background: -webkit-linear-gradient(top, rgba(241,227,188,1) 0%,rgba(211,175,99,1) 100%);
  background: -o-linear-gradient(top,  rgba(241,227,188,1) 0%,rgba(211,175,99,1) 100%);
  background: -ms-linear-gradient(top,  rgba(241,227,188,1) 0%,rgba(211,175,99,1) 100%);
  background: linear-gradient(to bottom,  rgba(241,227,188,1) 0%,rgba(211,175,99,1) 100%);
  border-radius: 2px;
  padding: 2px 5px;
}
.blue{
  color: rgba(52,81,141, 1)
}

.red-gradient-box{
  color: #fff;
  text-shadow: 1px 1px 1px rgba(153,42,8,.7);
  background: rgb(242,249,233);
  background: -moz-linear-gradient(top,  rgba(240,77,26,1) 0%, rgba(220,52,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,77,26,1)), color-stop(100%,rgba(220,52,0,1)));
  background: -webkit-linear-gradient(top, rgba(240,77,26,1) 0%,rgba(220,52,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(240,77,26,1) 0%,rgba(220,52,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(240,77,26,1) 0%,rgba(220,52,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(240,77,26,1) 0%,rgba(220,52,0,1) 100%);
  /*box-shadow:*/
    /*inset 0px -2px 4px rgba(153,42,8,.4),*/
    /*0px 0px 2px rgba(153,42,8,.4),*/
    /*0px 4px 0px rgba(153,42,8,1);*/
  border-radius: 4px;
}