@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(gradients.css);
@import url(images.css);
* {
  /*box-sizing: border-box;*/
  margin: 0;
  padding: 0;
}
html{height: 100%;}
body {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  background: transparent url('../images/bg.jpg');
}
div.wrapper{
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
div.login-header{
  height: 60px;
  width: 100%;
  border-radius: 0;
}
div.login-header>*{
  /*float: left;*/
  /*height: 50px;*/
}
div.login-header h1{
  /*border-right: 1px solid rgba(0,0,0,.2);*/
  font-weight: normal;
  padding: 0px 37px;
}
div.login-header h2{
  padding: 5px 0px;
  color: rgb(52, 156, 225);
  font-family: 'Satisfy', cursive;
  font-weight: normal;
  /*line-height: 50px;*/
  width: 260px;
  font-size: 16px;
  text-align: right;
  margin-top: -10px;
  /*border-left: 1px solid rgba(255,255,255,.1);*/
}
div.login-header h2 .diff{
  color: rgb(225, 128, 8);
}
div.login-header .user{
  float: right;
  line-height: 60px;
  margin-right: 20px;
  font-size: 14px;
}
div.login-header .user *{

}
div.login-header .user ul.sn{
  padding: 10px;
}
div.login-header .user ul.sn li{
  margin-bottom: 10px;
  font-size: 12px;
}
div.login-header .user ul.sn li > *{
  vertical-align: top;
  display: inline-block;
}
div.login-header .user ul.sn li span.un{
  display: block;
  margin-bottom: 3px;
}

div.login-header .user .user-view>div:first-child a{
  display: inline-block;
  height: 60px;
  color: #E4DED2;
  text-decoration: none;
}
div.login-header .user .user-view>div:first-child a .arrow{
  width: 20px;
  height: 20px;
  background-position: center 4px;
  background-repeat: no-repeat;
}
div.login-header .user .user-view>div:first-child a.active{
  background-color: #4d4d4d;
}
div.login-header .user .user-view>div:first-child a>*{
  display: inline-block;
  vertical-align: middle;
}

.user-menu{
  z-index: 9999;
  position: absolute;
  display: none;
  right: 0px;
  top: 61px;
  width: 300px;
}
.user-menu *{
  display: inline-block;
  line-height: normal;
}
div.login-header .user .user-view>div:first-child a .avatar,
.user-menu .avatar{
  display: inline-block;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 30px;
  margin:0 5px;
}
.user-menu .inner-box{
  line-height: normal;
}
.user-menu .inner-box .logout{
  padding: 3px 5px;
  line-height: normal;
  text-decoration: none;
  font-size: 10px;
}

.user-menu .loginForm{
  display: block;
  margin-top: 10px;
}
.user-menu .loginForm>*{
  vertical-align: top;
}
.user-menu .loginForm h3{
  position: relative;
  display: inline-block;
  padding: 5px;
  background-color: rgb(234, 231, 224);
  color: #685A3D;
  text-shadow: 1px 1px 0px #FFF;
  font-weight: normal;
}
.user-menu .loginForm h3:before{
  position: absolute;
  z-index: -1;
  top:4px;
  right: -10px;
  display: block;
  content: "";
  background-color: rgb(234, 231, 224);
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
}

.user-menu ul.login-form {
  display: inline-block;
  width: 100px;
  margin: 0;
  padding: 0 0 0 20px;
}
.user-menu ul.login-form li{
  display: block;
}
.user-menu ul.login-form a{
  color: #fff;
  padding: 3px 0;
}

a.logo {
  display: inline-block;
  width: 208px;
  height: 40px;
  background: url("../images/logo.png") no-repeat center center;
  text-indent: -9999px;
}
#app {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  /*overflow: hidden;*/
  /*padding-top: 20px;*/
  margin: 25px;
}

/*.status{*/
  /*position: relative;*/
  /*display: block;*/
  /*width: 15px;*/
  /*height: 15px;*/
  /*border-radius: 20px;*/
/*}*/
/*.status:after*/

.btn {
  background-color: #eee;
  border: solid 1px #ccc;
  cursor: pointer;
}
.btn[disabled] {
  cursor: default;
}

.contacts-cont, .conversation-wrapper {
  -webkit-box-flex: 1;
}
.contacts-cont {
  display: block;
  width: 230px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.conversation-cont {
  width: 74%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
  position: relative;
  padding-left: 25px;
}
.conversation-cont .conversation-chat-window{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
}
.conversation-cont .conversation-chat-window .conversation-chat-header{
  /*height: 50px;*/
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.conversation-cont .conversation-chat-window .conversation-chat-header .chat-header{
  padding: 10px;
  -webkit-box-flex: 1;
  margin-right: 10px;
}

.conversation-cont .conversation-chat-window .conversation-chat-header .chat-header span{
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
}
.conversation-cont .conversation-chat-window .conversation-chat-header .chat-header .avatar{
  border-radius: 30px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 50px;
}
.conversation-cont .conversation-chat-window .conversation-chat-header .chat-header .options{
  float: right;
}
.conversation-cont .conversation-chat-window .conversation-chat-header .chat-header .options li{
  list-style: none;
}
.conversation-cont .conversation-chat-window .conversation-chat-header a{
  display: block;
}
.conversation-cont .conversation-chat-window .conversation-chat-header a.video span{
  display: block;
  width: 70px;
  padding-top: 55px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(177,114,0,.7);
  background: transparent url("../images/video-call.png") no-repeat center 10px;
  cursor: pointer;
}
.conversation-cont .conversation-chat-window .conversation-chat-header a:active{
  text-shadow: 0px 1px 1px rgba(177,114,0,.7);
  box-shadow: inset 0px 0px 3px rgba(255,255,255, .1),
  inset 0px 2px 2px rgba(242,249,233, .1),
  inset 0px -2px 7px rgba(177,114,0, .2),
  0px 0px 2px rgba(177,114,0, 1),
  0px 2px 0px 0px rgba(177,114,0,.4);
}
.conversation-cont .conversation-chat-window .conversation-chat-header a:active span{
  /*padding-top: 50px;*/
}
.conversation-cont .conversation-chat-window .conversation-chat-header .chat-header .options li a.option{
  /*padding: 10px;*/
}



.conversation-cont .conversation-chat-window .conversation-chat-input{
  height: 100px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.conversation-cont .conversation-chat-window .conversation-chat-input .text-field{
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  padding: 15px;
}
.conversation-cont .conversation-chat-window .conversation-chat-input .text-field textarea{
  display: block;
  -webkit-box-flex: 1;
  padding: 5px;
  font-size: 16px;
}
.conversation-cont .conversation-chat-window .conversation-chat-input .send-btn{
  width: 70px;
  padding: 15px 15px 15px 0px;
}
.conversation-cont .conversation-chat-window .conversation-chat-input .send-btn div{
  padding: 5px;
}
.conversation-cont .conversation-chat-window .conversation-chat-input .send-btn a{
  display: block;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.conversation-cont .conversation-chat-window .conversation-chat-dialog{
  -webkit-box-flex: 1;
  margin: 15px 0;
  overflow: auto;
}

.chatMessageLine{
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin:15px 10px;
}
.chatMessageLine .property{
  width: 65px;
  display: block;
  margin-right: 5px;
  font-size: 12px;
  text-align: right;
}
.chatMessageLine.own .property{
  text-align: left;
  margin-left: 5px;
}
.chatMessageLine .property .time{
  font-size: 9px;
  display: inline-block;
  color: #fff;
  margin-top: 3px;
}
.chatMessageLine .property .username{
  display: inline-block;
}
.chatMessageLine .message{
  padding: 5px;
  display: block;
  -webkit-box-flex: 1;
}

.conversation{
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.conversation .source {
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: 20%;
  text-align: center;
}
.conversation .source video {
  border: 1px solid #333;
  width: 100%;
}
.conversation .stream,
.conversation .remote {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
}
.conversation .remote{

}
.conversation .remote video {
  display: block;
  -webkit-box-flex: 1;
}
.conversation .controls {
  padding: 20px;
}
.conversation .controls .status {
  display: block;
}
.conversation .controls .btn-hang-up{
  cursor: pointer;
  padding: 5px 10px;
  float: right;
  margin-top: -6px;
}

.contacts-cont .title{
  /*border-top: 1px solid rgba(0, 0, 0, .1);*/
  /*margin-top: 10px;*/
}
.contacts-cont .title li{
  position: relative;
  padding: 10px 10px;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(255, 255, 255, .3);
}
.contacts-cont .title li:first-child{
  border-top: 0px;
  /*padding: 15px 35px;*/
  background-position: 15px 15px;
}

.nf{
  display: none;
  border-radius: 30px;
  background-color: #FFF;
  color: #F00;
  padding: 0px 6px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  position: absolute;
  right: 15px;
  top: 8px;
}

.contacts-cont .title li.option-active{
  /*box-shadow: inset 0px 2px 15px rgba(255, 255, 255, 0.4);*/
  background-color: rgba(104, 90, 61, .1);
}
.contacts-cont .title li.option-active a{
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.contacts-cont .contacts-wrapper{
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /*width: 230px;*/
}
.contacts-cont .contacts-wrapper .search-output,
.contacts-cont .contacts-wrapper .contact-holder{
  overflow: auto;
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.contacts-cont .contacts-wrapper .search-output{
  display: none;
}
.contacts-cont .contacts-wrapper .active-contacts h3{display: none;}
.contacts-cont .contacts-wrapper .contact-holder h3{
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
  font-size: 12px;
  font-weight: normal;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(255, 255, 255, .3);
  line-height: 30px;
  text-align: center;
  background-color: rgba(104, 90, 61, .1);
  cursor: pointer;
}
.contacts-cont .contacts-wrapper .contact-holder h3>span{
  vertical-align: middle;
  display: inline-block;
}
.contacts-cont .contacts-wrapper .contact-holder h3>span.icon-collapse{
  width: 10px;
  height: 30px;
  background-position: center center;
}

.contacts-cont .contacts-wrapper .contact-holder>*{

}
.contacts-cont .contacts-wrapper .contact-holder .active-action{
  /*display: -webkit-box;*/
}
.contacts-cont .contacts-wrapper .contact-holder .active-contacts{}

.contacts-cont .contacts-wrapper .contact-holder .contacts>div{
  position: relative;
}
.contacts-cont .search{
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
}

.contacts-cont .search>div{
  padding: 5px 10px;
}

.contacts-cont .search>div>dl{
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-top: 1px solid #b7b4a3;
  border-left: 1px solid #c9c1b4;
  border-right: 1px solid #c9c1b4;
  border-bottom: 1px solid #cfccbd;
  border-radius: 3px;
  box-shadow:
    inset 0px 1px 2px rgba(135,121,96,.3),
    1px 1px 1px rgba(255,255,255,.6);

  height: 30px;
  /*padding: 5px;*/
}
.contacts-cont .search>div>dl dt{
  width: 30px;
  border-right: 1px solid #d5d2c3;
  background-position: center center;
  background-repeat: no-repeat;
}
.contacts-cont .search>div>dl dd{
  -webkit-box-flex: 1;
  border-left: 1px solid #e5dfd3;
  background-color: #e5dcd3;
  position: relative;
}

.contacts-cont .search>div>dl dd input{
  border: 0px;
  background: transparent;
  height: 30px;
  width: 90%;
  display: inline-block;
  outline: 0;
  font-size: 16px;
  padding-left: 10px;
  color: #786e55;
}
input::-webkit-input-placeholder{color: #aca27e;}
input:-moz-placeholder{color: #aca27e;}
input::-moz-placeholder{color: #aca27e;}
input:-ms-input-placeholder{color: #aca27e;}

.contacts-cont .search>div>dl dd a{
  position: absolute;
  display: none;
  right: 5px;
  top: 5px;
  background-color: #bfb8a6;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  line-height: 17px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(255,255,255, .4);
  color: #786e55;
}

/*-webkit-box-orient: vertical;*/
/*-webkit-box-flex: 1;*/

.contacts-list,
.contacts-cont .contacts{
  overflow: auto;
}

.search-results{

}

.search-results li,
.contacts-list li{
  padding: 5px 20px;
}

.search-results li,
.contacts-list li{
  position: relative;
  line-height: 20px;
  /*padding: 10px 10px 10px 15px;*/
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-top: 1px solid rgba(255,255,255,.3);
  cursor: pointer;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

.search-results li *,
.contacts-list li *{
  vertical-align: middle;
  display: block;
}
.search-results li .inner-box,
.contacts-list li .inner-box{
  display: inline-block;
}
.search-results li .avatar,
.contacts-list li .avatar {
  display: inline-block;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 30px;
}
.search-results li .name,
.contacts-list li .name {
  padding-top: 5px;
  padding-left: 5px;
  width: 75%;
}
.search-results li .new-messages,
.contacts-list li .new-messages{
  display: block;
  position: absolute;
  right: 10px;
  color: #F00;
  background: #FFF;
  padding: 0 6px;
  border-radius: 50px;
  font-size: 13px;
  text-shadow: none;
  top: 12px;
  line-height: 20px;
}
.search-results li a{
  display: none;
}
.contacts-list li a{
  position: absolute;
  left: 5px;
  top:13px;
  visibility: hidden;
  background-color: #BFB8A6;
  border-radius: 20px;
  width: 13px;
  height: 13px;
  line-height: 12px;
  font-size: 9px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .4);
  color: #786E55;
}
.search-results li:not(.active):hover,
.contacts-list li:not(.active):hover{
  background-color: rgba(104, 90, 61, .1);
}
.contacts-list li.active a{
  background-color: #fff;
}
.contacts-list li:hover a{
  visibility: visible;
}



.contact:hover .identifier {}
.contact .domain {}
.contact .domain:before {content: '@';}



.modal {
  color: #eee;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} .modal .screen {
  /*opacity: 0.7;*/
  position: fixed;
  width: 100%;
  height: 100%;
} .modal .dialog {
  position: relative;
  width: 30%;
  margin: 10% auto;
  text-align: center;
} .modal .dialog .title {
  font-size: 1.7em;
  font-weight: bold;
  margin: 0.7em 0;
} .modal .dialog .status {
  border: solid 1px #555;
  padding: 1em;
  line-height: 1.5em;
  color: #333;
  background-color: #eee;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    /*content: " "; *//* 1 */
    /*display: table; *//* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/**
 * Css styling - Alexey Kovalenko
 */
.login-dialog{
  position: relative;
  width: 400px;
  margin: 15% auto;
  text-align: center;
}
.login-dialog .title{
  font-family: 'Satisfy', cursive;
  color: #685a3d;
  font-size: 30px;
  line-height: 60px;
  /*padding: 10px 0;*/
  border-bottom: 1px solid #f7f4ed;
  text-shadow: 1px 1px 0px #fff;
}
.login-dialog .title:after{
  display: block;
  content: " ";
  border-bottom: 1px solid rgba(135,121,96,.4);
}
.login-dialog .status{
  font-family: 'Satisfy', cursive;
  color: #000;
  font-size: 25px;
  line-height: 30px;
  padding: 20px 0;
  text-shadow: 1px 1px 0px #fff;
}
.login-dialog .status.error{
  color: #831500;
}
ul.login-form{
  padding: 10px 0 30px;
}
ul.login-form li{
  /*background-color: #f00;*/
  display: inline-block;
  /*border-radius: 30px;*/
  /*box-shadow: inset 0px 0px 30px rgba(0,0,0,.1);*/
}
ul.login-form li a{
  display: inline-block;
  padding: 10px 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.fake{
  position: absolute;
  top:350px;
  left: 30px;
  width: 300px;
  height: 30px;
}
.fake .out-shadow *{
  display: block;
  border-radius: 0;
  padding: 0 10px;
  line-height: 30px;
  -webkit-box-flex: 1;
}
.fake .out-shadow{
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-radius: 3px;
  padding-bottom: 2px;
}
.out-shadow .first{
  border-radius: 3px 0 0 3px;
}
.out-shadow .last{
  border-radius: 0 3px 3px 0;
}
.video-call{
  -webkit-box-flex: 1;
  background-color: #000;
}
.icon-contacts .inner-box{
  position: absolute;
  right: 10px;
  top: 10px;
}
a.sync{
  position: absolute;
  right: 20px;
  top: 6px;
}
.sync span,
.sync{
  width: 18px;
  height: 18px;
  display: block;
}
.sync span{
  background-position: center center;
  background-repeat: no-repeat;
}
.notification{
  position: absolute;
  right: 10px;
  top: 75px;
  width: 250px;
}
.notification .bubble{
  font-weight: normal;
  text-align: center;
  padding: 20px;
  color: #e4ec9c;
  text-shadow: 1px 1px 0px #000;
  background-color: rgba(0,0,0,.8);
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
  margin-bottom: 10px;
}
.notification .bubble span{
  font-weight: bolder;
}

