* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
#app {
  width: 90%;
  margin: 0 auto;
}
.contacts-cont, .stream-cont {
  display: block;
  float: left;
}
.contacts-cont {
  width: 20%;
}
.stream-cont {
  position: relative;
  border-left: 1px solid #555;
  width: 79%;
}
.stream-cont .source {
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: 20%;
  text-align: center;
}
.stream-cont .source video {
  border: 1px solid #333;
  width: 100%;
}
.stream-cont .remote video {
  width: 100%;
  height: 100%;
}
.contacts .title {
  font-size: 1.2em;
  margin-bottom: 0.6em;
}
.contacts .contact {
  display: block;
  border-bottom: solid 1px #888;
  line-height: 1.9em;
  cursor: pointer;
  padding: 0 0.3em;
}
.login {
  color: #eee;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} .login .screen {
  background-color: #000;
  opacity: 0.7;
  position: fixed;
  width: 100%;
  height: 100%;
} .login .dialog {
  position: relative;
  width: 30%;
  margin: 10% auto;
  text-align: center;
} .login .dialog .title {
  font-size: 1.7em;
  font-weight: bold;
  margin: 0.7em 0;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
